.button {
  width: 50%;
  border: 1px solid black;
  background: #fff;
  outline: none;
  /* padding: 10px 15px; */
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s all ease;
  margin: 0 10px;
}
.button:hover {
  background: #585656;
  color: #fff;
}
